
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../lib/archivos/css/all.css">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Maricruz Flores Beauty Nails</title>
</head>
  <body>
    <section id="menuBar">
      <nav>
        <i class="fas fa-bars" id="btnMenuOpen"></i>
        <div class="menu-content" id="menuContent">
            <div class="icono">
              <img src="../img/MariCruzflores2.png" alt="logo">
            </div>
          <div id="enlaces">
            <ol >
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#acerca">Conócenos</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#contacto">Contacto</a></li>
            </ol>
          </div>
          <i class="fas fa-times" id="btnMenuClose"></i>
        </div>
      </nav>
    </section>

    <main>
    <section id="inicio">
      <video autoplay loop muted playsinline>
        <source src="../img/uñas.mp4" type="video/mp4">
      </video>
      <div class="hero-content">
        <h1 class="titulo">Maricruz Flores </h1>
        <h2 class="eslogan">Beauty Nails</h2>
        <div class="heroInfo">
          <p class="subtitulo">
          Especialistas en aplicación de tratamientos <br> especiales para tus uñas.
          </p>
          <button id="btnWhatsapp">
            <a  
            href="https://wa.me/5211234567890?text=¡Hola!%20Me%20gustaría%20agendar%20una%20cita."
            target="_blank" > Agendar una cita <span class="whatsIcon"> <i class="fab fa-whatsapp" aria-hidden="true"></i></span>
            </a>
          </button>
        </div>
      </div>
    </section> 

    <section class="containerServicios"> 
      <h2 class="serviciosTitulo">Nuestro Servicios de alta calidad</h2> 
      <div id="servicios">
      <div class="servicioCard">
        <div class="servicioTitulo">Manicura</div>
        <div class="servicioImagen">
          <img src="../img/manicura.jpeg" alt="Pedicure">
        </div>
        <div class="servicioInfo">
          <h3>Manicura</h3>
          <p>Corte y limado de uñas con un tratamiento completo para mantener las manos suaves, saludables y estéticamente perfectos.</p>
        </div>
      </div>

      <div class="servicioCard">
        <div class="servicioTitulo">Manicura</div>
        <div class="servicioImagen">
          <img src="../img/sencillo.jpeg" alt="Manicure con esmalteado sencillo">
        </div>
        <div class="servicioInfo">
          <h3>Manicure con esmalteado sencillo</h3>
          <p>Corte y limado de uñas, con un tratamiento para mantener tus manos suaves, con un esmaltado simple y elegante.</p>
        </div>
      </div>

      <div class="servicioCard">
        <div class="servicioTitulo">Manicura</div>
        <div class="servicioImagen">
          <img src="../img/francesa3.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Corte y limado de uñas, con un tratamiento para mantener tus manos suaves, con un esmaltado frances.</p>
        </div>
      </div>
    <div class="servicioCard">
        <div class="servicioTitulo">Manicura</div>
        <div class="servicioImagen">
          <img src="../img/porcelana.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura con uñas de porcelana</h3>
          <p>Corte y limado de uñas, con un tratamiento para mantener tus manos suaves, con aplicacion de uñas de porcelana con diferentes estilos a escoger.</p>
        </div>
      </div>
      <div class="servicioCard">
        <div class="servicioTitulo">Manicura </div>
        <div class="servicioImagen">
          <img src="../img/WhatsApp Image 2024-11-22 at 10.47.28 AM (2).jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Corte y limado de uñas, con un tratamiento para mantener tus manos suaves, con aplicacion de uñas de acrilico con diferentes estilos a escoger.</p>
        </div>
      </div>
      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/pedicura.jpg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Pedicura </h3>
          <p>Corte y limado de uñas, con un tratamiento para mantener tus manos suaves, con opción a esmaltado.</p>
        </div>
      </div>
    </section>

      <section id="acerca" class="carru">
        <div class="slider">
          <div class="slide">
            <h2>Nuestras instalaciones</h2>
            <img src="../img/local.jpeg" alt="local" class="slideImagen">
          </div>
          <div class="slide">
            <h2>Productos</h2>
            <img src="../img/productos.jpeg" alt="productos-local" class="slideImagen">
          </div>
          <div class="slide">
            <h2>Trabajo de profesionales</h2>
            <img src="../img/poniendoUñas.JPG" alt="third-image" class="slideImagen">
          </div>
        </div>
        
      <div class="contactoInfo">
        <h3>Contacto</h3>
        <p>Dirección:Anillo Periferico 419 local 3, Rincón de las caina</p>
        <p>Teléfono: +52 123 456 7890</p>
        <p>Email: maricruzNails@gmail.com</p>
      </div>

      </section>
    </main>

    <footer id="contacto">
      <div class="footerColumna">
        <h3>Síguenos en nuestras redes sociales</h3>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="derechos">
          <h4>Derechos reservados @2024</h4>
        </div>
      </div>

      <div class="footerColumna">
        <h3>Encuéntranos</h3>
        <div class="mapaContainer">        
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.4660567981286!2d-100.375392116643!3d25.680152119139223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866296185eac1b49%3A0x86634427e22ab8a9!2sAv.%20Anillo%20Periferico%20414%2C%20Rinc%C3%B3n%20de%20Las%20Colinas%2C%2064630%20Monterrey%2C%20N.L.!5e1!3m2!1ses-419!2smx!4v1732727394696!5m2!1ses-419!2smx" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </footer>
    <script src="../js/script.js"></script>
  </body>
</html>