
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../lib/archivos/css/all.css">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Maricruz Flores Beauty Nails</title>
</head>
  <body>
    <nav> 
      <div class="icono">
        <img src="../img/MariCruzflores2.png" alt="logo">
      </div>
      <ol>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#acerca">Sobre Nosotros</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#contacto">Contacto</a></li>
      </ol>
    </nav>
    <main>
    <section id="inicio">
      <video autoplay loop muted playsinline>
        <source src="../img/uñas.mp4" type="video/mp4">
      </video>
      <div class="hero-content">
        <h1 class="titulo">Maricruz Flores </h1>
        <h2 class="eslogan">Beauty Nails</h2>
        <div class="heroInfo">
          <p class="subtitulo">
          Especialistas en aplicación de tratamientos <br> especiales para tus uñas.
          </p>
          <button id="btnWhatsapp">
            <a  
            href="https://wa.me/5211234567890?text=¡Hola!%20Me%20gustaría%20agendar%20una%20cita."
            target="_blank" > Agendar una cita <span class="whatsIcon"> <i class="fab fa-whatsapp" aria-hidden="true"></i></span>
            </a>
          </button>
        </div>
      </div>
    </section> 

    <section class="containerServicios"> 
      <h2 class="serviciosTitulo">Nuestro Servicios de alta calidad</h2> 
      <div id="servicios">
      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/porcelana.jpeg" alt="Pedicure">
        </div>
        <div class="servicioInfo">
          <h3>Pedicure</h3>
          <p>Un tratamiento completo para mantener los pies suaves, saludables y estéticamente perfectos.</p>
        </div>
      </div>

      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/sencillo.jpeg" alt="Manicure con esmalteado sencillo">
        </div>
        <div class="servicioInfo">
          <h3>Manicure con esmalteado sencillo</h3>
          <p>Cuida tus manos con un diseño simple y elegante que combina con todo.</p>
        </div>
      </div>

      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/francesa.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Un estilo clásico que destaca la elegancia y la sofisticación de tus uñas.</p>
        </div>
      </div>
    <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/francesa.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Un estilo clásico que destaca la elegancia y la sofisticación de tus uñas.</p>
        </div>
      </div>
      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/francesa.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Un estilo clásico que destaca la elegancia y la sofisticación de tus uñas.</p>
        </div>
      </div>
      <div class="servicioCard">
        <div class="servicioTitulo">Pedicure</div>
        <div class="servicioImagen">
          <img src="../img/francesa.jpeg" alt="Manicura francesa">
        </div>
        <div class="servicioInfo">
          <h3>Manicura Francesa</h3>
          <p>Un estilo clásico que destaca la elegancia y la sofisticación de tus uñas.</p>
        </div>
      </div>
    </section>

      <section class="carru">
        <div class="slider">
          <div class="slide">
            <h2>Imagen 1</h2>
            <p>Descripción de la imagen 1</p>
            <img src="../img/local.jpeg" alt="local" class="slideImagen">
          </div>
          <div class="slide">
            <h2>Imagen 2</h2>
            <p>Descripción de la imagen 2</p>
            <img src="../img/productos.jpeg" alt="productos-local" class="slideImagen">
          </div>
          <div class="slide">
            <h2>Imagen 3</h2>
            <p>Descripción de la imagen 3</p>
            <img src="../img/local.jpeg" alt="third-image" class="slideImagen">
          </div>
          <!-- <button class="prev btnSlider" onclick="moveSlide(-1)">&#10094;</button>
          <button class="next btnSlider" onclick="moveSlide(1)">&#10095;</button> -->
        </div>
        
      <div class="footerColumna">
        <h3>Contacto</h3>
        <p>Dirección:Anillo Periferico 419 local 3, Rincón de las caina</p>
        <p>Teléfono: +52 123 456 7890</p>
        <p>Email: maricruzNails@gmail.com</p>
      </div>

      </section>
    </main>

    <footer id="contacto">
      <div class="footerColumna">
        <h3>Síguenos en nuestras redes</h3>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="derechos">
          <h4>Derechos reservados @2024</h4>
        </div>
      </div>

      <div class="footerColumna">
        <h3>Encuéntranos</h3>
        <div class="mapaContainer">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8354345092334!2d-122.4210842846816!3d37.77492977975885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809c2eebac17%3A0x1420e3c7b2c8bd41!2sGoogle!5e0!3m2!1sen!2smx!4v1698177105875!5m2!1sen!2smx" 
            width="100%" 
            height="150" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"></iframe>
        </div>
      </div>
    </footer>
    <script src="../js/script.js"></script>
  </body>
</html>